* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}


/***** HORIZONTAL SCROLL LINK: https://redstapler.co/pure-css-horizontal-scrolling-website-tutorial/ ******/

.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
}
.one {
  background: #131022;
}
.two {
  background: #a3f3d3;
	1
}
.three {
  background: #0bbaa0;
}
.four {
  background: #00dfdf;
}

.wrapper {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}

h1 {
	font-family: lores-15, sans-serif;
	margin: 100px 0px 0px 50px;
	color: white;
}

footer {
	height: 35px;
	width: 100%;
	text-align: center;
	padding: 30px 30px;
	background-color: #58D298;
	position: fixed;
	bottom: 0;
}
